!!! Strict
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title #{(title ? title + " - " : "")}Log4myself
    %meta(name="description" content="dazuo's blog.")
    %link(href="/volcano.css?v2" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          %h1
            Log4Myself
      = content
      
      #footer.clearfix
        %p &copy; 2010-2011 dazuo.me. All rights reserved.
        %p Wheat running on node #{process.version}
    :script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30974960-1']);
        _gaq.push(['_setDomainName', '.dazuo.me']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_setAllowHash', false]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
